
**/*.crit
**/*.pl
**/*.pm
**/*.pod
**/*.sh
*-review-2*.annotate
*-review-2*.code
*-review-2*.pod
*.diffs
*.gz
*.log
*.lst
*.tdy
*.tmp
.\#*
\#*
bin/bootstrap
bin/bootstrapper
bin/cpan-maker-bootstrapper
deploy
ecr-lifecycle-policy
ecr-repo
ecr-uri
extra-files
image
image-digest
invoke
lambda-function
lambda-function-url
lambda-function-url-invoke-permission
lambda-function-url-permission
lambda-policies
lambda-role
lambda-s3-permission
lambda-s3-trigger
lambda-sqs-trigger
local/
module.pm.tmpl
policy-document
provides
resources
s3-bucket
sqs-queue
test-sns
update-function
uri
volume/
**/*.sh
module.pm.tmpl
buildspec.yml.tmpl
test.t.tmpl
**/*.pl
**/*.pm
*.gz
*.log
*.tmp
.\#*
\#*
*.diffs
*.lst
extra-files
provides
resources
*-review-2*.pod
*-review-2*.code
*-review-2*.annotate
**/*.crit
**/*.tdy
